version: "3.7"

x-logging:
  &default-logging
  options:
    max-size: 12m
    max-file: 5
  driver: json-file

volumes:
  config: {% if homecloud_ceph_is_enabled %}
    driver: n0r1skcom/docker-volume-cephfs
    driver_opts:
      name: admin
      secret: {{ lookup('file', playbook_dir~'/vault/ceph.client.admin.secret') | trim }}
      path: /volumes/docker/calibreweb-config
      monitors: {{ ceph_monitor_ips }}
{% else %}{{ calibreweb_volume_config | to_json }}{% endif %}
  books: {{ calibreweb_volume_books | to_json }}

networks:
  traefik_public:
    external: true

services:

  server:
    image: {{ calibreweb_server_image }}
    env_file:
      - calibreweb.env
    volumes:
      -  config:/config
      -  books:/books
    networks:
      - traefik_public
    logging: *default-logging
    deploy:
      mode: replicated
      replicas: {{ calibreweb_server_replicas }}
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
        order: stop-first
      resources:
        limits:
          memory: {{ calibreweb_server_memory }}
        reservations:
          memory: {{ calibreweb_server_memory }}
      labels:
        - "traefik.enable=true"
        # routers
        - "traefik.http.routers.calibreweb.rule=Host(`{{ calibreweb_host }}`)"
{% if homecloud_is_https %}
        - "traefik.http.routers.calibreweb.entrypoints=https"
        - "traefik.http.routers.calibreweb.tls.certresolver=letsencrypt"
{% else %}
        - "traefik.http.routers.calibreweb.entrypoints=http"
{% endif %}
        # services
        - "traefik.http.services.calibreweb.loadbalancer.server.port=8083"
