PASSPHRASE={{ backup_passphrase }}

{% for docker_volume in backup_source_volumes %}
TASK_backup-{{ docker_volume | replace('_', '-') | upper }}_PERIODICITY=daily
TASK_backup-{{ docker_volume | replace('_', '-') | upper }}_PREPARE=mkdir -p /mnt/backup/{{ docker_volume }}
TASK_backup-{{ docker_volume | replace('_', '-') | upper }}_LOAD=duplicity full --force /mnt/{{ docker_volume }} file:///mnt/destination/{{ docker_volume }}
TASK_backup-{{ docker_volume | replace('_', '-') | upper }}_SUCCEED=duplicity remove-older-than 2D --force file:///mnt/destination/{{ docker_volume }}
{% endfor %}
