version: "3.7"

x-logging:
  &default-logging
  options:
    max-size: 12m
    max-file: 5
  driver: json-file

volumes:
  destination: {{ homecloud_backup_volume | to_json }}
{% for docker_volume in stack_backup_source_volume_names %}
  {{ docker_volume }}:{% if homecloud_ceph_is_enabled %}
    driver: n0r1skcom/docker-volume-cephfs
    driver_opts:
      name: admin
      secret: "{{ lookup('file', playbook_dir~'/vault/ceph.client.admin.secret') | trim }}"
      path: "/volumes/docker/{{ docker_volume }}"
      monitors: "{{ homecloud_ceph_monitor_ips }}"{% else %}
    external: true{% endif %}
{% endfor %}

services:
  duplicity:
    image: {{ stack_backup_image }}
    hostname: backup
    env_file:
      - duplicity.env
    volumes:
      - destination:/mnt/destination
{% for docker_volume in stack_backup_source_volume_names %}
      - {{ docker_volume }}:/mnt/{{ docker_volume }}:ro
{% endfor %}
    logging: *default-logging
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          memory: {{ stack_backup_memory }}
        reservations:
          memory: {{ stack_backup_memory }}
