[Unit]
Description=Mount the decentralized NAS drive
Before=docker.service syncthing@{{ dnas_username }}.service smbd.service
[Mount]
What={{ dnas_mount_what }}
Where={{ dnas_mount_where }}
Type={{ dnas_mount_type }}
Options={{ dnas_mount_options }}
[Install]
WantedBy=local-fs.target
