[Unit]
Description=Mount the decentralized NAS drive
Before=docker.service syncthing@{{ service_dnas_username }}.service smbd.service
[Mount]
What={{ service_dnas_mount_what }}
Where={{ service_dnas_mount_where }}
Type={{ service_dnas_mount_type }}
Options={{ service_dnas_mount_options }}
[Install]
WantedBy=local-fs.target
