#!/usr/bin/env bash

set -xeo pipefail

docker pull {{ action_restore_duplicity_image }}

docker run --rm --env-file restore.env \
-v "{{ action_restore_destination_volume }}:/mnt/destination:ro" \
{% for docker_volume in action_restore_source_volumes %}
-v "{{ docker_volume }}:/mnt/{{ docker_volume }}" \
{% endfor %}
{{ action_restore_duplicity_image }} execute-restore
