#!/usr/bin/env bash

set -x -e -o pipefail

docker pull {{ restore_image }}

docker run --rm --env-file restore.env \
-v "{{ restore_destination_volume }}:/mnt/destination:ro" \
{% for docker_volume in restore_source_volumes %}
-v "{{ docker_volume }}:/mnt/{{ docker_volume }}" \
{% endfor %}
{{ restore_image }} execute-restore
