PASSPHRASE={{ restore_passphrase }}
{% for docker_volume in restore_source_volumes %}
TASK_{{ docker_volume | replace('_', '-') | upper }}_RESTORE=restore
TASK_{{ docker_volume | replace('_', '-') | upper }}_LOAD=duplicity restore --force file:///mnt/destination/{{ docker_volume }} /mnt/{{ docker_volume }}
{% endfor %}
