PASSPHRASE={{ homecloud_duplicity_passphrase }}
{% for docker_volume in action_restore_volume_names_to_restore %}
TASK_{{ docker_volume | replace('_', '-') | upper }}_RESTORE=restore
TASK_{{ docker_volume | replace('_', '-') | upper }}_LOAD=duplicity restore --force file:///mnt/destination/{{ docker_volume }} /mnt/{{ docker_volume }}
{% endfor %}
