version: "3.7"

x-logging:
  &default-logging
  options:
    max-size: 12m
    max-file: 5
  driver: json-file

networks:
  internal:
    driver: overlay
  traefik_public:
    external: true

volumes:
  influxdb: {% if homecloud_ceph_is_enabled %}
    driver: n0r1skcom/docker-volume-cephfs
    driver_opts:
      name: admin
      secret: {{ lookup('file', playbook_dir~'/vault/ceph.client.admin.secret') | trim }}
      path: /volumes/docker/influxdata-influxdb
      monitors: {{ ceph_monitor_ips }}
{% else %}{{ influxdata_volume_influxdb | to_json }}{% endif %}
  kapacitor: {% if homecloud_ceph_is_enabled %}
    driver: n0r1skcom/docker-volume-cephfs
    driver_opts:
      name: admin
      secret: {{ lookup('file', playbook_dir~'/vault/ceph.client.admin.secret') | trim }}
      path: /volumes/docker/influxdata-kapacitor
      monitors: {{ ceph_monitor_ips }}
{% else %}{{ influxdata_volume_kapacitor | to_json }}{% endif %}
  chronograf: {% if homecloud_ceph_is_enabled %}
    driver: n0r1skcom/docker-volume-cephfs
    driver_opts:
      name: admin
      secret: {{ lookup('file', playbook_dir~'/vault/ceph.client.admin.secret') | trim }}
      path: /volumes/docker/influxdata-chronograf
      monitors: {{ ceph_monitor_ips }}
{% else %}{{ influxdata_volume_chronograf | to_json }}{% endif %}

configs:
  telegraf_config:
    file: ./telegraf.conf

services:

  influxdb:
    image: {{ influxdata_influxdb_image }}
    environment:
      - INFLUXDB_DB=telegraf
      - INFLUXDB_LOGGING_LEVEL=error
      - INFLUXDB_META_LOGGING_ENABLED=false
      - INFLUXDB_DATA_TRACE_LOGGING_ENABLED=false
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD={{ influxdata_influxdb_admin_password }}
      - INFLUXDB_USER=user
      - INFLUXDB_USER_PASSWORD={{ influxdata_influxdb_user_password }}
      - INFLUXDB_READ_USER=read_user
      - INFLUXDB_READ_USER_PASSWORD={{ influxdata_influxdb_read_user_password }}
      - INFLUXDB_WRITE_USER=write_user
      - INFLUXDB_WRITE_USER_PASSWORD={{ influxdata_influxdb_write_user_password }}
    volumes:
      - influxdb:/var/lib/influxdb
    networks:
      - internal
    logging: *default-logging
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 0s
        order: start-first
      restart_policy:
        condition: on-failure
      resources:
        limits:
          memory: {{ influxdata_influxdb_memory }}
        reservations:
          memory: {{ influxdata_influxdb_memory }}

  telegraf:
    image: {{ influxdata_telegraf_image }}
    configs:
      - source: telegraf_config
        target: /etc/telegraf/telegraf.conf
    volumes:
      - /:/host:ro
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - internal
    logging: *default-logging
    deploy:
      mode: global
      resources:
        limits:
          memory: {{ influxdata_telegraf_memory }}
        reservations:
          memory: {{ influxdata_telegraf_memory }}

  kapacitor:
    image: {{ influxdata_kapacitor_image }}
    environment:
      - KAPACITOR_INFLUXDB_0_URLS_0=http://influxdb:8086
      - KAPACITOR_INFLUXDB_0_USERNAME=user
      - KAPACITOR_INFLUXDB_0_PASSWORD={{ influxdata_influxdb_user_password }}
      - KAPACITOR_LOGGING_LEVEL=error
    volumes:
      - kapacitor:/var/lib/kapacitor
    networks:
      - internal
    logging: *default-logging
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 0s
        order: stop-first
      resources:
        limits:
          memory: {{ influxdata_kapacitor_memory }}
        reservations:
          memory: {{ influxdata_kapacitor_memory }}

  chronograf:
    image: {{ influxdata_chronograf_docker }}
    environment:
      - INFLUXDB_URL=http://influxdb:8086
      - INFLUXDB_USERNAME=user
      - INFLUXDB_PASSWORD={{ influxdata_influxdb_user_password }}
      - KAPACITOR_URL=http://kapacitor:9092
      - LOG_LEVEL=error
    volumes:
      - chronograf:/var/lib/chronograf
    networks:
      - internal
      - traefik_public
    logging: *default-logging
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 0s
        order: start-first
      resources:
        limits:
          memory: {{ influxdata_chronograf_memory }}
        reservations:
          memory: {{ influxdata_chronograf_memory }}
      labels:
        - "traefik.enable=true"
        # routers
        - "traefik.http.routers.influxdata.rule=Host(`{{ influxdata_host }}`)"
{% if homecloud_is_https %}
        - "traefik.http.routers.influxdata.entrypoints=https"
        - "traefik.http.routers.influxdata.tls.certresolver=letsencrypt"
{% else %}
        - "traefik.http.routers.influxdata.entrypoints=http"
{% endif %}
        - "traefik.http.routers.influxdata.middlewares=basic_auth_admin@docker"
        # services
        - "traefik.http.services.influxdata.loadbalancer.server.port=8888"
