[Unit]
Description=Mount the NAS drive
Before=docker.service syncthing.service smbd.service
[Mount]
What={{ nas_mount_what }}
Where={{ nas_mount_where }}
Type={{ nas_mount_type }}
Options={{ nas_mount_options }}
[Install]
WantedBy=local-fs.target
